


<div [className]="styleBySender(message)" *ngFor="let message of currentLoadedMessages()">
  <p>{{currentUser()?.full_name}}</p>
  <p class="font-bold">{{message.message}}</p>
<!--  <p>{{message.sent_at}}</p>-->
</div>

  <div class="absolute bottom-10 w-screen">
    <form class="flex justify-center p-5" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <select name="users" id="users" formControlName="receiver">
        <option *ngFor="let users of recievers()" value="{{users.id}}">{{users.email}}</option>
      </select>
      <input class="mx-5 rounded-md border-black border-2" formControlName="message" type="text" maxlength="20">
      <button type="submit" class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full w-40">Send</button>
    </form>
  </div>
